# Compiled Object files
*.slo
*.lo
*.o
#*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

#
*.ogg
*.suo
*.pyc
.idea

*.DS_Store

Build/~TestProject
Build/Dependencies
Build/Composer
Build/Prebuilt
Projects
Tools
Build/LogFile.txt
Build/Examples/LogFile.txt
