[submodule "Source/Nimble"]
	path = Source/Nimble
	url = https://github.com/dmsovetov/Nimble.git
[submodule "Source/Relight"]
	path = Source/Relight
	url = https://github.com/dmsovetov/Relight.git
[submodule "Externals/Box2D"]
	path = Externals/Box2D
	url = https://github.com/erincatto/Box2D
[submodule "Externals/GoogleTest"]
	path = Externals/GoogleTest
	url = https://github.com/google/googletest
[submodule "Externals/libpng"]
	path = Externals/libpng
	url = https://github.com/glennrp/libpng
[submodule "Externals/libtiff"]
	path = Externals/libtiff
	url = https://github.com/LuaDist/libtiff
[submodule "Externals/lua"]
	path = Externals/lua
	url = https://github.com/LuaDist/lua
[submodule "Externals/OpenAL"]
	path = Externals/OpenAL
	url = https://github.com/kcat/openal-soft
[submodule "Externals/jsoncpp"]
	path = Externals/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
